<div class="flex flex-col p-4 border-r-2">
  <input
    aria-label="search employees"
    type="text"
    class="search border border-grey p-2 mb-2"
    placeholder="Search"
    value={{this.searchTerm}}
    {{on "input" this.filterEmployeesOnSearchTerm}}
  />
  <select
    aria-label="filter employees"
    value={{this.selectedTeam}}
    class="border border-grey p-2 mb-2 mt-2"
    {{on "change" this.filterEmployeesOnTeam}}
  >
    <option value="">All</option>
    {{#each this.teams as |team|}}
      <option value={{@team}} >{{team}}</option>
    {{/each}}
  </select>

  <Employees::List
    @employees={{this.filteredEmployees}}
  />
</div>
