{{page-title "HappyfoxAssignment"}}

<div class="flex">
  <SideBar
    @employees={{this.filteredEmployees}}
    @filterEmployees={{this.filterEmployees}}
    @filterEmployeesOnSearchTerm={{this.filterEmployeesOnSearchTerm}}
    @filterEmployeesOnTeam={{this.filterEmployeesOnTeam}}
    @allTeams={{this.allTeams}}
  />

  <Employees::Tree
    @employeeTree={{this.employeeTree}}
  />
</div>

{{outlet}}
